<div class="compare-page">
  <div class="row" style="height:260px">
    <div class="col-sm-4">
      <h3>Compare</h3>
      <p>2 Items Selected</p>
      <input type=checkbox [(ngModel)] = "diffData" (change)="getDiffData()">
      Shows Different only
    </div>
    <div class="col-sm-4">
      <!-- <div class="close-button">✕</div> -->
      <div class="">
        <img class="img-fluid" style="width: 250px;height: 150px;" src="{{lcdFirstImage}}">
      </div>
      <select class="form-control" placeholder="select product" [(ngModel)] = "lcdFirst" (change)="getImage()">
        <option *ngFor="let tv of allLcd" value="{{tv.name}}" >{{tv.title}}</option>
      </select>
      <div style="height:50px">
        <div>{{data?data.products.compareSummary.titles[lcdFirst].title:""}}</div>
        <span style="font-weight:bold">
          <i class="fa fa-inr" aria-hidden="true"></i>
          {{data?data.products.compareSummary.productPricingSummary[lcdFirst].finalPrice:""}}
        </span>
        <span style="color: #a7a7a7;">
          <i class="fa fa-inr" aria-hidden="true"></i>
          <s>{{data?data.products.compareSummary.productPricingSummary[lcdFirst].price:""}}</s>
        </span>
        <span style="color:#499d3a">{{data?data.products.compareSummary.productPricingSummary[lcdFirst].totalDiscount:""}}%</span>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- <div class="close-button" (click)="lcdSecond=''">✕</div> -->
      <div class="">
        <img class="img-fluid" style="width: 250px;height: 150px;" src="{{lcdSecondImage}}">
      </div>
      <select class="form-control" placeholder="select product" [(ngModel)] = "lcdSecond" (change)="getImage()">
        <option *ngFor="let tv of allLcd" value="{{tv.name}}" >{{tv.title}}</option>
      </select>
      <div style="height:50px">
        <div>{{data?data.products.compareSummary.titles[lcdSecond].title:""}}</div>
        <span style="font-weight:bold">
          <i class="fa fa-inr" aria-hidden="true"></i>
          {{data?data.products.compareSummary.productPricingSummary[lcdSecond].finalPrice:""}}
        </span>
        <span style="color: #a7a7a7;">
          <i class="fa fa-inr" aria-hidden="true"></i>
          <s>{{data?data.products.compareSummary.productPricingSummary[lcdSecond].price:""}}</s>
        </span>
        <span style="color:#499d3a">{{data?data.products.compareSummary.productPricingSummary[lcdSecond].totalDiscount:""}}%</span>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-sm-4">
      <div class="item heading">Display</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[0].values[lcdFirst]?true:false):true">Size</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[1].values[lcdFirst]?true:false):true">Screen Type</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[2].values[lcdFirst]?true:false):true">HD Technology & Resolution</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[3].values[lcdFirst]?true:false):true">3D</div>
      <div class="item heading">General Features</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[0].values[lcdFirst]?true:false):true">Smart TV</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[1].values[lcdFirst]?true:false):true">Curve TV</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[2].values[lcdFirst]?true:false):true">Touchscreen</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[3].values[lcdFirst]?true:false):true">Motion Sensor</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[4].values[lcdFirst]?true:false):true">Launch Year</div>
      <!-- <div class="item">In the Box</div> -->
      <div class="item heading">Internet Features</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[2].features[0].values[lcdFirst]?true:false):true">Built in Wifi</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[2].features[1].values[lcdFirst]?true:false):true">Wireless Ready</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[2].features[2].values[lcdFirst]?true:false):true">3G Dongle Plug and Play</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[2].features[3].values[lcdFirst]?true:false):true">Ethernet (RJ45)</div>
    </div>
    <div class="col-sm-4">
      <div class="item"></div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[0].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[0].features[0].values[lcdFirst]:""):(data?data.products.featuresList[0].features[0].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[1].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[0].features[1].values[lcdFirst]:""):(data?data.products.featuresList[0].features[1].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[2].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[0].features[2].values[lcdFirst]:""):(data?data.products.featuresList[0].features[2].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[3].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[0].features[3].values[lcdFirst]:""):(data?data.products.featuresList[0].features[3].values[lcdFirst]:"")}}</div>
      <div class="item"></div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[0].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[0].values[lcdFirst]:""):(data?data.products.featuresList[1].features[0].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[1].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[1].values[lcdFirst]:""):(data?data.products.featuresList[1].features[1].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[2].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[2].values[lcdFirst]:""):(data?data.products.featuresList[1].features[2].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[3].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[3].values[lcdFirst]:""):(data?data.products.featuresList[1].features[3].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[4].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[4].values[lcdFirst]:""):(data?data.products.featuresList[1].features[4].values[lcdFirst]:"")}}</div>
      <!-- <div class="item">{{data?data.products.featuresList[1].features[5].values[lcdFirst]:""}}</div> -->
      <div class="item "></div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[2].features[0].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[2].features[0].values[lcdFirst]:""):(data?data.products.featuresList[2].features[0].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[2].features[1].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[2].features[1].values[lcdFirst]:""):(data?data.products.featuresList[2].features[1].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[2].features[2].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[2].features[2].values[lcdFirst]:""):(data?data.products.featuresList[2].features[2].values[lcdFirst]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[2].features[3].values[lcdFirst]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[2].features[3].values[lcdFirst]:""):(data?data.products.featuresList[2].features[3].values[lcdFirst]:"")}}</div>
    </div>
    <div class="col-sm-4">
      <div class="item"></div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[0].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[0].features[0].values[lcdSecond]:""):(data?data.products.featuresList[0].features[0].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[1].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[0].features[1].values[lcdSecond]:""):(data?data.products.featuresList[0].features[1].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[2].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[0].features[2].values[lcdSecond]:""):(data?data.products.featuresList[0].features[2].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[0].features[3].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[0].features[3].values[lcdSecond]:""):(data?data.products.featuresList[0].features[3].values[lcdSecond]:"")}}</div>
      <div class="item"></div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[0].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[0].values[lcdSecond]:""):(data?data.products.featuresList[1].features[0].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[1].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[1].values[lcdSecond]:""):(data?data.products.featuresList[1].features[1].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[2].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[2].values[lcdSecond]:""):(data?data.products.featuresList[1].features[2].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[3].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[3].values[lcdSecond]:""):(data?data.products.featuresList[1].features[3].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[4].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[1].features[4].values[lcdSecond]:""):(data?data.products.featuresList[1].features[4].values[lcdSecond]:"")}}</div>
      <!-- <div class="item">{{data?data.products.featuresList[1].features[5].values[lcdSecond]:""}}</div> -->
      <div class="item "></div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[0].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[2].features[0].values[lcdSecond]:""):(data?data.products.featuresList[2].features[0].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[1].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[2].features[1].values[lcdSecond]:""):(data?data.products.featuresList[2].features[1].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[2].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[2].features[2].values[lcdSecond]:""):(data?data.products.featuresList[2].features[2].values[lcdSecond]:"")}}</div>
      <div class="item" *ngIf="diffData?(dataCopy.products.featuresList[1].features[3].values[lcdSecond]?true:false):true">{{diffData?(dataCopy?dataCopy.products.featuresList[2].features[3].values[lcdSecond]:""):(data?data.products.featuresList[2].features[3].values[lcdSecond]:"")}}</div>
    </div>
  </div>
</div>
