.compare-page{
  border: 2px solid;
  padding: 5px;
}
.item{
  display: flex;
  align-items: center;
  height: 40px;
}
.heading{
  background: #e6e7e7;
}
.row .col-sm-4:first-child .item{
  font-weight: bold;
}
 .close-button {
   position: absolute;
   z-index: 2;
   top: 0;
   right: 15px;
   height: 34px;
   width: 34px;
   background-color: #fff;
   box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
   border: 1px solid rgba(0,0,0,.06);
   border-radius: 50%;
   font-size: 15px;
   line-height: 32px;
   color: #878787;
   text-align: center;
   cursor: pointer;
}
/*.imageBlock {
  position: absolute;
} */
